<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Minibit</title>
  <link rel="stylesheet" href="/css/exam.css" />
</head>
<body>
  <div class="game-container" id="game_container_id"></div>
  <h1 id="counter">10</h1>
</body>
<script src="/js/exam/_.js"></script>
<script src="/js/exam/__t.js"></script>
<script src="/js/exam/_a.js"></script>
<script src="/js/exam/_l_.js"></script>
<script src="/js/exam/b.js"></script>
<script src="/js/exam/c.js"></script>
<script>
  document.body.style.background = 'url("/images/<%= background_image %>") no-repeat center center fixed';
  document.body.style.backgroundSize = 'cover'; // Ensures full coverage
  var questions = <%- JSON.stringify(questions) %>;
  const contentId = "<%= content_id %>"
  const gameContainer = document.getElementById("game_container_id")
  var counter = 9;
  var question_number = 0;
  var cancelAnswer = false;
  var gameInterval = null;

  /*
  const saveAnswersLocalStorage = (ans) => {
    if (cancelAnswer) {
      alert("No puedes cambiar tu respuesta.")
      return;
    };
    cancelAnswer = true;
    const answers = localStorage.getItem("minibit-answers");
    if (!answers) {
      localStorage.setItem("minibit-answers", JSON.stringify([ans]));
    } else {
      let parsedAnswers = JSON.parse(answers);
      localStorage.setItem(
        "minibit-answers",
        JSON.stringify([...parsedAnswers, ans])
      );
    }
    const option_a = document.getElementById("option-a-select");
    const option_b = document.getElementById("option-b-select");
    const option_c = document.getElementById("option-c-select");
    const option_d = document.getElementById("option-d-select");

    if(ans.includes("--A")) option_a.style.fontWeight = "bold"
    if(ans.includes("--B")) option_b.style.fontWeight = "bold"
    if(ans.includes("--C")) option_c.style.fontWeight = "bold"
    if(ans.includes("--D")) option_d.style.fontWeight = "bold"
  };

  const saveExam = () => {
    fetch(`/save-exam-result`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        token: localStorage.getItem("minibit-token"),
      },
      body: JSON.stringify({
        userAnswers: JSON.parse(localStorage.getItem("minibit-answers")),
        contentId: contentId,
      }),
    }).then(async (response) => {
      if (!response.ok) {
        alert("Lo sentimos. Algo salió mal.")
      }
      const data = await response.json();
      if (data.resultado > 80) {
        alert(`Increible! Obtuviste un ${data.resultado}%. Felicitaciones!`)
        return
      }
      if (data.resultado > 60) {
        alert(`Bien! Obtuviste un ${data.resultado}%. Puedes hacerlo mejor!`)
        return
      }
      alert(`Mala suerte! Obtuviste un ${data.resultado}%. Estudia un poco mas e intentalo nuevamente.`)
    }).catch(() => {
      alert("Lo sentimos. Algo salió mal.")
    }).finally(() => {
      window.location.href = "/content/" + localStorage.getItem("minibit-token");
    });
  }

  const renderQuestion = () => {
    cancelAnswer = false;

    if (!questions[question_number]) {
      clearInterval(gameInterval)
      saveExam();
      return;
    }

    gameContainer.innerHTML = `
     <div class="question-container">
     ${questions[question_number].question}
    </div>
    <div class="options-container">
        <div onclick="saveAnswersLocalStorage('${questions[question_number].id}---A')" class="option">
          <div class="option-letter">
            A
          </div>
          <div class="option-text" id="option-a-select">
            ${questions[question_number].answer_a}
          </div>
        </div>

        <div onclick="saveAnswersLocalStorage('${questions[question_number].id}---B')" class="option">
          <div class="option-letter">
            B
          </div>
          <div class="option-text" id="option-b-select">
            ${questions[question_number].answer_b}
          </div>
        </div>

        <div onclick="saveAnswersLocalStorage('${questions[question_number].id}---C')" class="option">
          <div class="option-letter">
            C
          </div>
          <div class="option-text" id="option-c-select">
            ${questions[question_number].answer_c}
          </div>
        </div>

        <div onclick="saveAnswersLocalStorage('${questions[question_number].id}---D')" class="option">
          <div class="option-letter">
            D
          </div>
          <div class="option-text" id="option-d-select">
            ${questions[question_number].answer_d}
          </div>
        </div>
    </div>
  </div>
    ` }

  setTimeout(() => {
    localStorage.setItem(
      "minibit-answers",
      JSON.stringify([])
    )
    renderQuestion()
  }, 100)


  gameInterval = setInterval(() => {
    document.getElementById("counter").innerHTML = `${counter}`;
    if (counter == 10) {
      question_number++;
      renderQuestion()
    }
    if (counter == 1) {
      counter = 10;
    } else {
      counter--;
    }
  }, 1000);

  */

  /*
  const redirect = () => {
    window.location.href = "/content/" + localStorage.getItem("minibit-token");
  }

  let start = performance.now();
  debugger;
  let end = performance.now();

  if (end - start > 100) { 
    redirect()
  }

  document.addEventListener('mousedown', function(event) {
    if (event.button === 2) {
      redirect()
    }
  });

  document.addEventListener('keydown', function(event) {
    redirect()
  });
  */

</script>

</html>