<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Acid Labs</title>
  <style>
    /* Estilos básicos para mejorar la visualización del markdown */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #2c3e50;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    ul {
      margin: 10px 0;
    }

    li {
      text-decoration: none;
      margin-left: 25px;
    }

    code {
      background-color: #f5f5f5;
      border-radius: 3px;
      font-family: monospace;
    }

    pre {
      background-color: #f5f5f5;
      padding: 16px;
      border-radius: 3px;
      margin: 20px 0;
      overflow: auto;
    }

    blockquote {
      border-left: 4px solid #ddd;
      padding-left: 16px;
      color: #666;
    }

    a {
      color: #3498db;
      text-decoration: none;
    }

    p {
      margin: 10px 0;
    }

    a:hover {
      text-decoration: underline;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    body {
      display: flex;
      height: 100vh;
      background-color: #f5f5f5;
    }

    /* Menú vertical */
    .menu-vertical {
      width: 30%;
      background-color: #2c3e50;
      color: white;
      padding: 20px;
      overflow-y: auto;
      background: url("/images/background.jpg") no-repeat center center fixed;
    }

    .menu-vertical ul {
      height: 400px;
      overflow-y: scroll;
    }

    .menu-vertical ul::-webkit-scrollbar {
      display: none;
    }

    .menu-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #34495e;
      margin-bottom: 20px;
      text-align: center;

      & h1 {
        background-color: #fff;
        padding: 10px 20px;
        color: #000;
        border-radius: 10px;
        font-size: 13px;
      }
    }

    .menu-title {
      font-size: 2rem;
      margin-bottom: 10px;
      letter-spacing: 2px;
      background: url("/images/logo.jpg") no-repeat center center fixed;
    }

    .menu-search {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: none;
      background-color: #34495e;
      color: white;
    }

    .menu-items {
      list-style: none;
    }

    .menu-item {
      color: #000;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 5px;
      cursor: pointer;

      & span {
        font-size: 12px;
        font-style: italic;
      }
    }

    .menu-item:hover {
      background-color: #1d66e0;
      color: #fff;
    }

    .menu-item.active {
      background-color: #1d66e0;
      font-weight: bold;
    }

    /* Contenedor de markdown */
    .markdown-container {
      width: 70%;
      padding: 20px 30px;
      overflow-y: auto;
      background-color: white;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .take-test-button {
      font-weight: bold;
      background-color: #44d17e;
      /* Button color */
      color: #fff;
      /* Text color */
      border: none;
      /* Remove default border */
      padding: 12px 24px;
      /* Vertical and horizontal padding */
      text-align: center;
      /* Center text */
      text-decoration: none;
      /* Remove underline */
      display: inline-block;
      /* Allow setting dimensions */
      font-size: 13px;
      /* Text size */
      margin: 4px 2px;
      /* Some spacing */
      cursor: pointer;
      /* Change cursor on hover */
      border-radius: 4px;
      /* Slightly rounded corners */
      box-shadow: none;
      /* No shadow for flat design */
      transition: background-color 0.3s ease;
      /* Smooth hover effect */
      position: absolute;
      bottom: 20px;
      width: 27%;

    }
  </style>
</head>

<body>
  <nav class="menu-vertical">
    <div class="menu-header">
      <h1>
        <%= user_email %>
      </h1>
    </div>
    <ul class="menu-items" id="menu-items-id"></ul>
    <button onclick="takeTest()" class="take-test-button" id="take-test-button-id"></button>
  </nav>
  <embed class="markdown-container" id="pdf-file-frame" src="" type="application/pdf">
</body>

<script>
  document.body.style.background = 'url("/images/<%= background_image %>") no-repeat center center fixed';
  document.body.style.backgroundSize = 'cover'; // Ensures full coverage
  var contentId = null;
  var techs = <%- JSON.stringify(techs) %>;
  var user_exams = <%- JSON.stringify(user_exams) %>;


  const showContentList = () => {
    const contentContainer = document.getElementById("menu-items-id")

    techs.forEach((tech) => {
      const is_exam = user_exams.filter((ex) => ex.content_id == tech.content_id ).pop()
      console.log(tech)
      contentContainer.innerHTML += `<li onclick="setTechContent('${tech.filename}', '${tech.name}', '${tech.content_id}' )" class="menu-item"
          id="menu-item-${tech.filename}">
          ${tech.name}
          ${is_exam ? `<br/><span>Score: ${is_exam.score}% - ${new Date(is_exam.created).toLocaleDateString('en-GB')}</span>` : "" }
        </li>`
    })
  }


  async function testAuth() {
    const response = await fetch(
      `${window.location.protocol}//${window.location.host
      }/verify-token/${localStorage.getItem("minibit-token")}`
    );
    if (!response.ok) {
      window.location.href = "/";
    }
  }
  async function takeTest() {
    fetch(
      "/check-exam-date",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          token: localStorage.getItem("minibit-token"),
          contentId: contentId,
        }),
      }
    ).then((response) => {
      if (!response.ok) {
        alert("No puedes rendir este examen. Debe pasar una semana desde tu último intento.")
        return
      }
      alert("Recuerda: No intentes abrir la consola del navegador ni utilices el teclado. De lo contrario, anularemos el examen.")
      window.location.href = "/exam/" + contentId + "/" + localStorage.getItem("minibit-token");
    }).catch(() => {
      alert("No hay examen disponible aun para este contenido. Contacta al administrador.")
    });
  }

  async function navigateTo(url) {
    window.location.href = url;
  }
  function defineTech() {
    const url = window.location.href;
    if (url.includes("javascript")) return "javascript";
  }

  function setActive(tech) {
    return url.includes(tech) && "active"
  }

  const setTechContent = (file, name, id) => {
    contentId = id;
    const frame = document.getElementById("pdf-file-frame")
    frame.src = `${window.location.protocol}//${window.location.host}/content-files/${file}`
    document.getElementById("take-test-button-id").innerHTML = "Evaluacion " + name
  }

   setTimeout(() => {
    document.getElementById("take-test-button-id").innerHTML = "Evaluacion " + techs[0].name
    showContentList()
  }, 100)
</script>

</html>